<div>

  <div class="mast_head section row">
    <div class="col-md-6 col-xs-12">
      <h1 class="page_title">FamilySearch Changelog </h1>
    </div>
  </div>

  <div class="change_item_container events">

    <div class="header row">
      <div class="col-lg-3">
        <div class="input-group">
          <span class="input-group-addon">Repo</span>
          <select class="form-control" data-ng-model="search.repo_name">
            <option value="">All</option>
            <option data-ng-repeat="repo_name in repos" data-ng-value="repo_name">{{ repo_name }}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="input-group">
          <span class="input-group-addon">Type</span>
          <select class="form-control" data-ng-model="search.type">
            <option value="">All</option>
            <option data-ng-repeat="type in types" data-ng-value="type">{{ type }}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="input-group">
          <span class="input-group-addon">Time Frame</span>
          <select class="form-control" data-ng-model="timeSearch">
            <option value="1hr">1 Hour</option>
            <option value="3hr">3 Hours</option>
            <option value="6hr">6 Hours</option>
            <option value="1d">24 Hours</option>
            <option value="">7 Days (All)</option>
          </select>
        </div>
      </div>
    </div>

    <div
      data-ng-repeat="event in events | filter:search | filter:timeFilter"
      data-event-item></div>
  </div> <!-- ./change_item_container -->

</div> <!-- /.change_log -->
