<div class="detail">

  <div class="mast_head section">
    <h1 class="page_title" data-ng-bind="pageTitle"></h1>
    <div class="curr_status" data-ng-class="statusClass">
      <span class="glyphicon" data-ng-class="glyph" style="top: 4px;"></span>
      <span style="text-transform: capitalize;" data-ng-bind="status" class="stats_fld"></span>
    </div>
  </div>

  <div class="health section cf">
    <h2 class="section_heading">Health @ <span data-ng-bind="updated.formatted"></span> (<span class="stats_fld" data-ng-bind="updated.delta"></span>)</h2>

    <div class="item throughput" data-ng-show="hasThroughput">
      <span class="title">req / 5 min</span>
      <span class="metric">
        <span class="stats_fld" data-ng-bind="codes.total | number">
        </span><span class="suffix">req</span>
      </span>
    </div>

    <div class="item resp_time" data-ng-show="hasRespTime">
      <span class="title">p95 response time</span>
      <span class="metric">
        <span class="stats_fld" data-ng-bind="time.p95 || 'n/a'">
        </span><span class="suffix">ms</span>
      </span>
    </div>

    <div class="item memory" data-ng-show="hasMemory">
      <span class="title">Memory (AVG &amp; MAX)</span>
      <span class="metric">
        <span class="stats_fld">{{ memory.avg | number:0 }}</span><span class="suffix">MB</span>
      </span>
      <span class="metric">
        <span class="stats_fld">{{ memory.max | number:0 }}</span><span class="suffix">MB</span>
      </span>
    </div>

    <div class="item error_rate" data-ng-show="hasErrorRate">
      <span class="title">Error rate (5xx / total)</span>
      <span class="metric">
        <span class="stats_fld" data-ng-bind="error_rate">
        </span><span class="suffix">%</span>
      </span>
    </div>

    <div class="item status_count" data-ng-show="hasStatus">
      <span class="title">Status codes</span>
      <div class="totals">
        <span class="item">2xx:
          <span class="stats_fld" data-ng-bind="codes['2xx'] | number"></span>
        </span>
        <span class="item">3xx:
          <span class="stats_fld" data-ng-bind="codes['3xx'] | number"></span>
        </span>
        <span class="item">4xx:
          <span class="stats_fld" data-ng-bind="codes['4xx'] | number"></span>
        </span>
        <span class="item">5xx:
          <span class="stats_fld" data-ng-bind="codes['5xx'] | number"></span>
        </span>
      </div>
    </div>

    <div class="item heroku_errors" data-ng-show="isHeroku">
      <span class="title">Heroku codes</span>
      <div class="totals stats_fld">
        <span
          data-ng-repeat="error in errors.codes"
          class="item"
          title="{{ error.code + ': ' + error.desc }}"
          data-ng-bind="error.code + ': ' + error.count"
          data-ng-value="error"></span>
      </div>
    </div>

    <div class="item heroku_issues" data-ng-show="hasIssues">
      <span class="title">Heroku Issues</span>
      <div class="totals stats_fld">
        <span
          data-ng-repeat="issue in issues"
          class="item">
          <a
            target="_blank"
            data-ng-href="https://status.heroku.com/incidents/{{ issue.id }}"
            data-ng-title="issue.title"
            data-ng-bind="issue.title"></a>
        </span>
      </div>
    </div>

  </div> <!-- /.health.section.cf -->

  <div class="history section">

    <h2 class="section_heading">
      <span>Uptime History</span>
      <span
        data-ng-show="isHistorying"
        data-ng-class="{ 'locked' : locked }"
        class="label">{{ updated.delta }}
          <a data-ng-show="locked" href="javascript:;" class="glyphicon glyphicon-remove" data-ng-click="reset()"> </a>
        </span>
    </h2>
    <div class="history_timeline cf" data-ng-mouseleave="mouseGone()">
      <label
        class="label {{ className }}"
        data-ng-repeat="item in history"
        data-history-item
        data-ng-class="{ active : item.isActive }"
        data-ng-mouseenter="mouseIn()"
        data-ng-click="clack()">
        <!-- data-ng-class="className"> -->
      </label>
    </div><!-- /.history_timeline -->

  </div> <!-- /.history.section -->

  <h3 class="section_heading">Dependent APIs</h3>
  <div class="other_apis section cf row" data-ng-show="hasApis" data-ng-hide="loading.apis">
    <span
      data-ng-repeat="item in apis"
      data-status-btn
      data-status-type="api">
    </span>
  </div> <!-- /.other_apis -->

  <div class="events section cf" data-ng-show="hasEvents">
    <h2 class="section_heading">Event History</h2>

    <div class="change_item_container">
      <div
        data-ng-repeat="event in events"
        data-event-item></div>
    </div>
  </div><!-- /.events -->

</div> <!-- /.detail -->
