<div class="performance">

  <div class="mast_head section">
    <h1 class="page_title" data-ng-bind="pageTitle"></h1>
  </div>

  <div data-detail-tabs></div>

  <div class="history section graph" data-ng-show="hasGraphs">
    <h2 class="section_heading">Performance Graphs</h2>
    <div class="uptime-graph">
      <div data-uptime-graph-rickshaw></div>
    </div><!-- /.history_timeline -->
  </div><!-- /.history.section -->

</div> <!-- /.detail -->
