body {
  color: #3d3d3d;
  padding: 0;
}
h1 {
  margin-top: 0;
}
body.api_type .hide-api {
  display: none;
}
.page_title {
  font-weight: normal;
}
.app_link, .item {
  display: inline-block;
  padding: 1em;
  background: #ccc;
  text-decoration: none;
}
.history_timeline span {
  background-color: #000;
  border-right: 1px solid #666;
  display: block;
  float: left;
  height: 6px;
  margin-bottom: 10px;
  width: 10px;
}
.status-good {
  background-color: #1c8f2d;
  color: #fff;
}
.status-slow {
  background-color: #e5df15;
}
.status-down {
  background-color: #bd1c1c;
  color: #fff;
}
.status-unknown {
  background-color: #ccc;
}
.home .legend {
  text-align: right;
}
.home .status-table {
  margin-bottom: 20px;
}
.home .status-table td {
  padding: 4px 1px;
  width: 210px;
}
.section {
  margin-bottom: 20px;
}
.section.memory .aGraph {
  width: 300px;
  height: 60px;
}
.section.memory path {
  stroke: #4682b4;
  stroke-width: 1;
  fill: none;
}
.section .section_heading {
  font-weight: normal;
}
.statuses {
/*  -moz-column-width: 12em;
  -webkit-column-width: 12em;
  column-width: 12em;
*/}
.detail .curr_status.good {
  color: #54c966;
  font-size: 40px;
}
.detail .curr_status.slow {
  color: #e97223;
  font-size: 40px;
}
.detail .curr_status.down {
  color: #c95454;
  font-size: 40px;
}
.detail .health .item {
  float: left;
  width: 300px;
}
.detail .health .item .metric {
  display: block;
  font-size: 45px;
  margin-top: -13px;
}
.detail .health .item .metric .suffix {
  opacity: 0.6;
}
.detail .health .title {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.9;
}
.detail .health .error_rate {
  width: 200px;
}
.detail .health .status_count {
  width: 100px;
}
.detail .health .status_count .totals span {
  display: block;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
/* 1 */
  display: table;
/* 2 */
}
.cf:after {
  clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

@media (min-width: 768px) {
  .app_link {
    -moz-transition: background-color 1s ease;
    -webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
  }
  .app_link:hover {
    -moz-transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    text-decoration: none;
    color: #fff;
  }
  .app_link.status-good:hover {
    background-color: #0ad529;
  }

}
