body
  color: #3d3d3d
  padding: 0

h1
  margin-top: 0

.page_title
  font-weight: normal

.navbar-inverse .navbar-nav>li>a.active
  color: #FFF

.refresh
  cursor: pointer
  &.reloading .glyphicon
    color: green;

.app_link, .legend .item
  border-radius: 0

.history_timeline
  label
    border-right: 1px solid #38963F
    border-radius: 0
    float: left
    font-size: 0
    height: 12px
    margin-bottom: 2px
    width: 12px

    &.active
      opacity: .5
      outline: 2px solid red
    &:hover
      border: 1px solid white

.home
  .legend
    text-align: right
  .status-table
    margin-bottom: 20px
    td
      padding: 4px 1px
      width: 210px

.section
  margin: 20px 0 0 0

  .progress
    display: none
    width: 50%;
    .progress-bar
      width: 100%;

  &.loading
    .progress
      display: block

  &.memory
  .section_heading
    font-weight: normal
    .label
      font-size: 10px
      vertical-align: middle
      background-color: #505050
      opacity: .5
      &.locked
        opacity: 1
      a
        color: white
        text-decoration: none

.detail
  .curr_status
    font-size: 40px
    &.success
      color: #5CB85C
    &.warning
      color: #F0AD4E
    &.danger
      color: #D9534F
  .health
    .item
      float: left
      width: 300px
      .metric
        display: block
        font-size: 45px
        margin-top: -13px
        .suffix
          opacity: 0.6
    .title
      display: block
      font-size: 12px
      text-transform: uppercase
      opacity: 0.9
    .error_rate
      width: 200px
    .heroku_issues
      min-height: 100px
    .status_count,
    .heroku_errors,
    .heroku_issues
      width: 100px
      .totals
        .item
          display: inline-block

    .memory
      width: 250px
      .metric
        font-size: 32px
        margin-top: -9px
      .suffix
        font-size: 24px

.events
  .item
    background-color: #FAFAFA
    margin-bottom: 20px
    overflow: hidden
    padding: 15px
    max-width: 600px
    .icon
      background-position: top left
      background-repeat: no-repeat
      background-image: url('../img/github_icon.png')
      background-size: contain
      float: left
      margin-right: 15px
      height: 55px
      width: 53px
    .icon
      &.marrow
        background-image: url('../img/immune_icon.png')
      &.jenkins
        background-image: url('../img/jenkins_icon.png')
    .repo_name
      background-color: #54B7DD
      border-radius: 4px
      color: white
      font-size: 11px
      font-weight: normal
      float: left
      margin-right: 10px
      padding: 2px 6px

    .change_meta
      font-size: 11px
      margin-top: 11px

    .commit_link
      color: #3D3D3D


/* TODO: Separate the changelog out into a separate file... */
.change_log
  background-color: #666

  .page_title
    color: #eee

.change_item_container

  .header.row
    margin-bottom: 15px

  .item
    max-width: 100%


.uptime-graph
  font: 10px sans-serif

  .inner-graph
    margin-bottom: 10px;

  .annotation:first-letter
    text-transform: capitalize

  .graph-title
    font-size: 20px

  .axis path,
  .axis line
    fill: none
    stroke: #000
    shape-rendering: crispEdges

  .x.axis path
    display: none

  .y.axis > text
    font-size: 20px

  .line
    fill: none
    stroke-width: 1.5px

  &.uptime-graph-raw .line
    stroke: black

  .change line
    opacity: .3
    stroke-width: 1px

  .marker
    opacity: 0

.switch-to-desktop
  margin: 25px
  text-align: center
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "
/* 1 */
  display: table
/* 2 */
}
.cf:after {
  clear: both
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1
}

@media screen and (max-width:800px)
  .events .item .icon
    height: 35px
    width: 35px
    margin-right: 5px
